*{
	font-family: "Comic Sans MS", san-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #bdeda4;
}
.menu{
	font-size: 175%;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;

}
#para{
	position: relative;
	/*top: 20px;*/
	margin: 10px;
}
p{
	background-color: #9acee6;
	border: 2px solid black;
	padding: 30px;
	
}
.menutitle{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 2px solid black;
	width: 40%;
	height: 35px;
	text-align: center;
	font-size: 125%;
}
#Chicken{
	background-color: #e75cff;
}
#Beef{
	background-color: #b93c3b;
	color: white;
}
#Sushi{
	background-color: #ffac30;
}
.row{
	width: 95%;
    margin-right: auto;
    margin-left: auto; 
}
/*********** Laptop ***********/
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33%;
	}
}
/********** Tablets ***********/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6,.col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
 /********** Mobile **********/
@media(max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100%;
	}
}